@use "sass:map";
@use '../../../assets/styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(121, 116, 126, 0.75);
    border-radius: 10px;
  }
}

.result {
  max-width: 320px;
  overflow: overlay;
  height: 90vh;

  &__button {
    &-container {
      padding: unset;
    }

    &-flat {
      width: 160px;

      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        color: map.get($geoml-primary, 700);
        word-break: break-word;
        white-space: pre-wrap;

        p {
          margin: unset;
          font-weight: 600;
          font-size: 11px;
          line-height: 98.7%;
          text-align: left;
          flex: 1;
        }

        svg-icon,
        .mat-icon {
          &.rotate {
            &-90 {
              transform: rotate(-90deg);
            }

            &-45 {
              transform: rotate(-45deg);
            }
          }

          &.huge {
            svg {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
  }

  &__title {
    padding-bottom: 18px;

  }

  &__content {

    &-title {
      display: flex;
      justify-content: space-between;
      color: map.get($geoml-primary, 700);
      margin-bottom: 32px;

      h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 31px;
        margin: unset;
      }

      .result__button-flat {
        width: 115px;
      }
    }


    &-points {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 280px;
      margin: auto;

      &-human {
        .made {
          font-weight: 700;
          font-size: 70px;
          line-height: 70px;
          color: map.get($geoml-primary, 400);
        }

        .total {
          font-weight: 700;
          font-size: 35px;
          line-height: 44px;
          color: map.get($geoml-primary, 300);
        }
      }

      &-bot {
        color: map.get($geoml-primary, 700);

        svg {
          width: 23px;
          height: 23px;
          padding-right: 10px;
        }

        .made {
          font-weight: 700;
          font-size: 35px;
          line-height: 44px;
        }

        .total {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: transparentize(map.get($geoml-primary, 700), 0.4);
        }
      }
    }

    ::ng-deep .mat-expansion-panel {
      box-shadow: unset;

      &-body {
        padding: unset;

        geoml-result-card {
          padding: 12px 0;
        }
      }
    }

    &-info {
      background-color: transparentize(map.get($geoml-primary, 700), 0.95);
      border-radius: 10px;
      color: map.get($geoml-primary, 700);
      margin-bottom: 60px;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin: unset;
      }

      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
      }

      &-share {
        margin: 24px 0;

        .mat-icon-button {
          width: fit-content;
          padding-right: 24px;
        }
      }

      &-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          width: 200px;
          margin: 0 auto 24px auto;
          text-align: center;
        }

        geoml-button {
          margin: 0 auto 24px auto;
        }

        .mat-raised-button {
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          margin: 0 auto 24px auto;
          border-radius: 100px;
          width: 200px;
          height: 48px;
          background: #033778;
          color: #FFFFFF;
        }

        a.mat-raised-button {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .divider {
          width: 100%;
          height: 5px;
          border-radius: 10px;
          background: transparentize(map.get($geoml-primary, 700), 0.9);
          margin-bottom: 24px;
        }

      }
    }

    &-summary {
      display: flex;
      flex-direction: column;

      div:first-child {
        font-weight: 600;
      }

      div:last-of-type {
        padding: 18px 0;
      }

      button {
        padding: unset;
        margin-bottom: 18px;
        border-radius: 12px;
        align-self: center;
      }
    }

    &-score {
      &-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div>div:first-child {
          font-weight: 600;
        }

        img {
          width: 45%;
        }
      }
    }
  }

  &__results {
    h2 {
      color: map.get($geoml-primary, 700);
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__divider {
    margin: 18px 0;
    width: 100%;
  }

  &__actions {
    background-color: transparentize(map.get($geoml-primary, 700), 0.95);
    color: map.get($geoml-primary, 700);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}
