<div class="information__map">
  <div class="information__header">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <geoml-map [center]="[data.xCoords + coordsOffset, data.yCoords - coordsOffset]"></geoml-map>
</div>
<div class="information">
  <div class="information__column left">
    <div>
      <div class="information__car-icon">
        <svg-icon name="car"></svg-icon><span i18n>pro Tag</span>
      </div>
      <span>{{data.cars}}</span>
    </div>
    <div>
      <svg-icon name="ruler"></svg-icon>
      <span>{{data.streetLength}} km</span>
    </div>
  </div>
  <div class="information__column right">
    <table>
      <tr class="bold">
        <td colspan="2" i18n>Unfälle</td>
        <td>{{data.accidentLethal + data.accidentLight + data.accidentSever}}</td>
      </tr>
      <tr>
        <td>
          <svg-icon name="light"></svg-icon>
        </td>
        <td i18n>Leicht</td>
        <td>{{data.accidentLight}}</td>
      </tr>
      <tr>
        <td>
          <svg-icon name="sever"></svg-icon>
        </td>
        <td i18n>Schwer</td>
        <td>{{data.accidentSever}}</td>
      </tr>
      <tr>
        <td>
          <svg-icon name="lethal"></svg-icon>
        </td>
        <td i18n>Tödlich</td>
        <td>{{data.accidentLethal}}</td>
      </tr>
    </table>
  </div>
</div>
