<mat-card class="estimation">
  <div *ngIf="tasks$ | async as tasks" class="estimation__progress">
    <span *ngFor="let task of tasks; let idx = index" class="estimation__progress-step"
      [ngClass]="{'active': idx <= try}"></span>
  </div>
  <mat-card-title class="estimation__title" [ngClass]="{'checked': checked}">
    <span *ngIf="correctValue === undefined" i18n>Wie hoch schätzen Sie hier das Risiko ein?</span>
    <span *ngIf="correctValue !== undefined && correctValue === selectedValue" i18n>Richtig!</span>
    <span *ngIf="correctValue !== undefined && correctValue !== selectedValue" i18n>Leider Falsch!</span>
  </mat-card-title>
  <mat-card-content *ngIf="tasks$ | async as tasks" class="estimation__content">
    <div class="estimation__content-image">
      <div [ngClass]="{'cropped-result': checked,'cropped-initial': !checked}">
        <img #estimationImage src="{{ apiEndpoint }}/files/{{ tasks[try] }}_{{ checked ? 'result' : 'initial' }}.png" />
      </div>
      <div *ngIf="checked" class="estimation__content-result-container">
        <div class="estimation__content-result" style="--correctValue: {{correctValue}}">
          <svg-icon class="estimation__content-result-indicator" name="arrow"></svg-icon>
        </div>
        <button mat-icon-button>
          <svg-icon name="info"></svg-icon>
        </button>
      </div>
    </div>
    <div *ngIf="checked" class="estimation__bot-comment">
      <svg-icon name="bot"></svg-icon>
      <div *ngIf="correctValue !== selectedValue && correctValue===botValue" class="estimation__bot-comment-bubble">Diesmal bin ich richtig gelegen</div>
      <div *ngIf="correctValue === selectedValue && correctValue===botValue" class="estimation__bot-comment-bubble">Super! Wir sind beide richtiggelegen.</div>
      <div *ngIf="correctValue === selectedValue && correctValue!==botValue" class="estimation__bot-comment-bubble">Sehr gut! Sie haben mich geschlagen.</div>
      <div *ngIf="correctValue !== selectedValue && correctValue!==botValue" class="estimation__bot-comment-bubble">Oh! Wir lagen beide falsch.</div>
    </div>
    <div *ngIf="!checked" class="estimation__scale-text"><span i18n>sehr gering</span><span i18n>sehr hoch</span>
    </div>
    <div class="estimation__values">
      <div class="estimation__values-button-container" *ngFor="let task of tasks; let idx = index">
        <button mat-fab class="estimation__values-button" [ngClass]="{
          'estimation__values-selected': idx + 1 === selectedValue && correctValue === undefined,
          'estimation__values-solution': correctValue !== undefined,
          'estimation__values-solution-false':
            correctValue !== selectedValue && idx + 1 === selectedValue && correctValue !== undefined,
          'estimation__values-solution-correct':
            correctValue === selectedValue && idx + 1 === selectedValue && correctValue !== undefined,
          'estimation__values-solution-true':
            correctValue !== selectedValue && idx + 1 === correctValue && correctValue !== undefined
        }" (click)="selectedValue = idx + 1">
          {{ idx + 1 }}
        </button>
        <span *ngIf="correctValue!==undefined&&idx + 1===botValue" class="estimation__values-button-badge">
          <svg-icon name="bot-pin"></svg-icon>
        </span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="estimation__actions">
    <div *ngIf="{lastCheck: this.lastCheck$ | async} as data" class="estimation__actions-points">
      <div i18n>Ihre Punkte</div>
      <h2>{{ humanPoints === undefined ? 0:humanPoints }}</h2>
      <span *ngIf="data.lastCheck" class="estimation__actions-points-update"
        [ngClass]="{'hidden': !this.showPointGain}">+{{
        this.pointGain }}</span>
    </div>
    <button *ngIf="selectedValue !== undefined" mat-raised-button class="estimation__actions-next"
      [ngClass]="{'check': correctValue===undefined}" (click)="correctValue === undefined ? check() : next()">
      <ng-container *ngIf="correctValue === undefined">{{ checkText }}</ng-container>
      <ng-container *ngIf="correctValue !== undefined && try < 4">{{ nextText }}</ng-container>
      <ng-container *ngIf="correctValue !== undefined && try === 4">{{ resultText }}</ng-container>
    </button>
  </mat-card-actions>
</mat-card>
