@use "sass:map";
@use '../../../assets/styles/variables' as *;

:host {
  width: 380px;
  height: 680px;
  background-color: transparentize(map.get($geoml-primary, 700), 0.1);
}

.tutorial {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 680px;
  color: white;

  &__button {
    &-play {
      display: flex;
      flex-direction: column;
      margin: auto;

      .mat-icon {
        margin: 0 auto;
        font-size: 96px;
        width: 96px;
        height: 96px;
      }

      span {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-skip {
      position: absolute;
      right: 12px;
      bottom: 72px;
      background-color: transparent;
      color: white;
      padding: 12px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;

      &.background {
        background-color: transparentize(map.get($geoml-primary, 700), 0.1);
      }

      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        color: $light-contrast;
        word-break: break-word;
        white-space: pre-wrap;

        svg {
          padding-right: 6px;
          height: 16px;

          &-icon {
            line-height: 0px;
            transform: rotate(180deg);
          }

          &>path {
            fill: white;
          }
        }
      }
    }

  }

  &__select-language {
    position: absolute;
    right: 12px;
    bottom: 0px;

    ::ng-deep .mat {
      &-form-field-underline {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &-select {
        &-arrow,
        &-value {
          color: white;
        }
      }
    }
  }
}
