@use "sass:map";
@use '@angular/material' as mat;
@use './variables' as *;


$geoml-theme: mat.define-light-theme((color: (primary: $geoml-primary,
        accent: $geoml-accent,
      )));
//@include mat.all-component-themes($geoml-theme);

$theming-material-typography: mat.define-typography-config($font-family: 'Source Sans Pro',
  );
@include mat.core($theming-material-typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Source Sans Pro, "Helvetica Neue", sans-serif;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.spacer {
  flex: 1 1 auto;
}
